@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-primary: #ffd644;
  --color-secondary: #fff3b0;
  --color-accent: #f25f29;
  --color-background: #f9f9f9;
  --color-text: #1e1e1e;
  --color-lightText: #c4c7cc;
  --color-online: #2ecc71;
  --color-chat: #f4f4f5;
}

@layer {
  body {
    font-family: var(--font-body);
  }
}
